@use 'sass:math';
@use 'sass:color';
@use '~bootstrap/scss/functions' as *;

$small-view: 800px;
$mobile-view: 500px;

$main-fonts: 'Source Sans Pro', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$line-height-normal: 1.2;

$grey-background-color: #E5E5E5;
$grey-background-hover-color: #EFEFEF;
$grey-foreground-color: #585858;
$grey-foreground-hover-color: #303030;
$grey-button-outline-color: color.scale($grey-foreground-color, $alpha: -95%);

$main-color: hsl(24, 90%, 50%);
$main-color-lighter: lighten($main-color, 10%);
$main-color-lightest: lighten($main-color, 40%);
$main-color-very-light: #fff5eb;

$main-hover-color: lighten($main-color, 5%);
$main-background-hover-color: #e9ecef;

$support-button: inherit;
$support-button-heart: #e83e8c;

$bg-color: #fff;
$fg-color: #212529;

$red: #FF0000;
$green: #39CC0B;

$grey-actor-name: #777272;

$expanded-horizontal-margins: 150px;
$not-expanded-horizontal-margins: 30px;

$button-font-size: 15px;
$button-height: 30px;

$header-height: 50px;
$header-border-color: #e9eff6;
$search-input-width: 375px;

$menu-background: #000;
$menu-color: #fff;
$menu-bottom-color: #C6C6C6;
$menu-width: 240px;
$menu-lateral-padding: 26px;

$sub-menu-background-color: #F7F7F7;
$sub-menu-height: 81px;

$channel-background-color: #f6ede8;

$banner-inverted-ratio: math.div(1, 6);

$max-channels-width: 1200px;

$footer-height: 30px;
$footer-margin: 30px;

$separator-border-color: rgba(0, 0, 0, 0.1);

$video-miniature-margin-bottom: 15px;

$video-miniature-row-name-font-size: 1.3em;
$video-miniature-row-mobile-name-font-size: 14px;

$video-miniature-row-info-font-size: 14px;
$video-miniature-row-mobile-info-font-size: 12px;

$video-thumbnail-height: 153px;
$video-thumbnail-width: 280px;
$video-thumbnail-medium-height: 114px;
$video-thumbnail-medium-width: 201px;
$video-thumbnail-small-height: 71px;
$video-thumbnail-small-width: 125px;

$theater-bottom-space: 115px;

$input-foreground-color: $fg-color;
$input-background-color: $bg-color;
$input-placeholder-color: #898989;
$input-border-color: #C6C6C6;

$textarea-foreground-color: $fg-color;
$textarea-background-color: $bg-color;
$markdown-textarea-background-color: $grey-background-hover-color;

$sub-menu-margin-bottom: 30px;
$sub-menu-margin-bottom-small-view: 10px;

$activated-action-button-color: #212529;

$focus-box-shadow-form: 0 0 0 .2rem;
$form-input-font-size: 15px;
$form-input-line-height: 1.4;

$video-watch-player-factor: math.div(16, 9);
$video-watch-info-margin-left: 44px;

$primeng-breakpoint: 960px;

/*** map theme ***/

// pass variables into a sass map,
// to be warned of non-existing variables
$variables: (
  --mainColor: var(--mainColor),
  --mainColorLighter: var(--mainColorLighter),
  --mainColorLightest: var(--mainColorLightest),
  --mainColorVeryLight: var(--mainColorVeryLight),

  --mainHoverColor: var(--mainHoverColor),
  --mainBackgroundHoverColor: var(--mainBackgroundHoverColor),

  --mainBackgroundColor: var(--mainBackgroundColor),
  --mainForegroundColor: var(--mainForegroundColor),

  --greyForegroundColor: var(--greyForegroundColor),
  --greyBackgroundColor: var(--greyBackgroundColor),
  --greySecondaryBackgroundColor: var(--greySecondaryBackgroundColor),

  --menuBackgroundColor: var(--menuBackgroundColor),
  --menuForegroundColor: var(--menuForegroundColor),

  --submenuBackgroundColor: var(--submenuBackgroundColor),
  --channelBackgroundColor: var(--channelBackgroundColor),

  --inputForegroundColor: var(--inputForegroundColor),
  --inputBackgroundColor: var(--inputBackgroundColor),
  --inputPlaceholderColor: var(--inputPlaceholderColor),

  --textareaForegroundColor: var(--textareaForegroundColor),
  --textareaBackgroundColor: var(--textareaBackgroundColor),
  --markdownTextareaBackgroundColor: var(--markdownTextareaBackgroundColor),

  --actionButtonColor: var(--actionButtonColor),
  --activatedActionButtonColor: var(--activatedActionButtonColor),

  --supportButtonColor: var(--supportButtonColor),
  --supportButtonBackgroundColor: var(--supportButtonBackgroundColor),
  --supportButtonHeartColor: var(--supportButtonHeartColor),

  --embedForegroundColor: var(--embedForegroundColor),
  --embedBigPlayBackgroundColor: var(--embedBigPlayBackgroundColor),

  --horizontalMarginContent: var(--horizontalMarginContent),
  --videosHorizontalMarginContent: var(--videosHorizontalMarginContent),
  --mainColWidth: var(--mainColWidth)
);

// SASS type check our CSS variables
@function pvar($variable) {
  @if map-has-key($variables, $variable) {
    @return map-get($variables, $variable);
  } @else {
    @error 'ERROR: Variable #{$variable} does not exist';
  }
}

/*** z-index groups ***/

$zindex: (
  miniature       :    10,
  sub-menu        : 12500,
  overlay         : 12550,
  menu            : 12600,
  search-typeahead: 12650,
  popover         : 13000,
  tooltip         : 14000,
  loadbar         : 15000,
  privacymsg      : 17500,
  header          : 17500,
  help-popover    : 17600,
  dropdown        : 17600,
  modal           : 19000,
  hotkeys         : 19000,
  notification    : 20000
);

@function z($label) {
  @return map-get($zindex, $label);
}
